* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "bree serif";
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 321px;
  border: 1px solid #000;
  padding: 28px 22px 28px 22px;
}
.card h2 {
  font-weight: 700;
}
.card span {
  display: block;
  font-weight: 500;
  font-size: 18px;
}
.card .logo img {
  filter: brightness(1) invert(1);
  width: 80px;
  padding-top: 22px;
}
